<h2>Welcome to the Dr. Sillystringz's Factory</h2>
<p>@Html.ActionLink("Machines List", "Index", "Machines", null, new {@class = "myCssClass"})</p>
<p>@Html.ActionLink("Engineers List", "Index", "Engineers", null, new {@class = "myCssClass"})</p>

